{%- extends "auth_content.html" -%}
{%- block title -%}Events | {{ super() }}{%- endblock -%}
{% block active_tab %}events{% endblock %}

{%- block content -%}
<section>
  <div class="content card">
    <a href="{{ url_for('events.create') }}">Create an Event</a>
  </div>
</section>
{%- for event in events -%}
  <section>
    <div class="content card">
      <h2><a href="/events/{{ event.id }}">{{ event.name }}</a></h2>
      <h4>{{event.attendees|length}} members checked in</h4>
    </div>
  </section>
{%- endfor -%}
{%- endblock -%}