@import 'base';
@import 'navbar';

// Application Styles go here
$content-width: 50rem;

body {
	background-color: $ultra-light-gray;
}

.content {
	width: 90%;
	max-width: $content-width;
	margin: 0 auto;
}

section:first-child {
	padding: ($navbar_height + $card_top_padding) 0 0;
}

section:not(:first-child) {
  padding: $card_top_padding 0 0;
}

.card {
	padding: 1rem;
	background-color: $white;
	@include border-box;
}
