@import 'base';

nav {
	height: $navbar_height;
	background-color: #7AE819;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	ul li {
		display: inline-block;
		height: 3rem;
		line-height: 1rem;
		padding: 1rem;
		@include border-box;

		a, a:hover {
			color: $white;
		}
	}

	ul li:last-child {
		float: right
	}

	&.active-tab-home .tab-home,
	&.active-tab-events .tab-events,
	&.active-tab-members .tab-members {
		border-bottom: 3px solid $white;
	}
}