{%- extends "base.html" -%}

{%- block body -%}
<nav class="active-tab-{% block active_tab %}{% endblock %}">
	<div class="content">
		<ul>
			<li class="tab-home">
				<a href="{{ url_for('client.home') }}">Home</a>
			</li>
			<li class="tab-events">
				<a href="{{ url_for('client.events') }}">Events</a>
			</li>
			<li class="tab-members">
				<a href="{{ url_for('client.members') }}">Members</a>
			</li>
			<li class="tab-logout">
				<a href="{{ url_for('client.logout') }}">Logout</a>
			</li>
		</ul>
	</div>
</nav>
{%- block content -%}

{%- endblock -%}
{%- endblock body -%}